.centerImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem; }
  .centerImage__zoom {
    transition: transform .2s; }
    .centerImage__zoom:hover {
      transform: scale(1.2); }

.table {
  font-family: "Cormorant Garamond", serif;
  font-size: 1rem; }

.Lato {
  font-family: "Lato", serif;
  font-size: 1rem;
  text-decoration: none !important;
  line-height: 20px;
  letter-spacing: 0,5px; }
  .Lato__footer {
    color: white; }

.LatoTitle {
  font-family: "Lato", serif;
  font-size: 1.5rem;
  text-decoration: initial;
  font-weight: semibold;
  line-height: 20px;
  letter-spacing: 0,5px; }

.Cormorant, .CormorantTitle {
  margin: 10px;
  color: #707070;
  font-weight: 100;
  font-family: "Cormorant", serif;
  font-size: 1.5rem;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: none; }
  .CormorantTitle {
    color: black; }

.cards img {
  box-shadow: 3px 3px 8px 0px rgba(1, 0, 1, 0.3); }

.cards__imagenthumb {
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  opacity: 1; }
  .cards__imagenthumb:hover .cards__imagenthumb__overlay {
    opacity: 1; }
  .cards__imagenthumb__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(1, 0, 1, 0.3); }
    .cards__imagenthumb__overlay__text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center; }

.carousel-item {
  overflow: hidden;
  position: relative;
  height: 32em; }

.carousel-caption {
  background: rgba(101, 97, 97, 0.5); }

.item img {
  width: 100%;
  height: 100% !important;
  object-fit: cover; }

.hover1:hover {
  color: #aaa !important;
  text-decoration: underline; }

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit; }

.btn {
  border: none;
  font-family: "Lato", serif;
  font-size: 1rem;
  color: black; }
  .btn:hover {
    background-color: black; }
  .btn-primary {
    background-color: white;
    border: solid; }
    .btn-primary:hover {
      border: none; }
