.menu {
  list-style-type: none;
  background-color: #f3f3f3;
  font-size: 0;
  display: flex;
  justify-content: flex-end;
  padding: 20px; }
  .menu__element, .menu__element--active {
    display: inline-block;
    width: 10%;
    font-family: "Cormorant Garamond", serif;
    font-size: 20px;
    position: relative;
    text-align: center; }
    .menu__element:hover > ul, .menu__element--active:hover > ul {
      display: block; }
    .menu__element__subElement {
      display: none;
      width: 70%; }
      .menu__element__subElement li {
        list-style-type: none;
        font-weight: normal; }
    .menu__element--active {
      font-weight: bold; }
    .menu__element ul, .menu__element--active ul {
      display: none;
      position: absolute; }
    .menu__element a, .menu__element--active a {
      text-decoration: none;
      color: black;
      text-align: center; }
      .menu__element a:hover, .menu__element--active a:hover {
        background-color: #a39d9d;
        display: block; }

header {
  background-color: #f3f3f3;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70px; }

.logo {
  float: left;
  box-sizing: border-box;
  height: 70px;
  width: 100px;
  padding: 10px;
  display: inline-block; }

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/galeriasala3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  color: white;
  text-align: center;
  display: grid;
  /*2 columnas*/
  grid-template-columns: 2fr 8fr 2fr;
  align-items: center; }
  .banner__caja {
    background-color: rgba(135, 132, 141, 0.5);
    margin-left: 30px; }
    .banner__caja h2 {
      color: white; }
    .banner__caja p {
      color: white; }
    .banner__caja--font1 {
      margin: 10px;
      color: #707070;
      font-weight: 100;
      font-family: "Cormorant Garamond", serif;
      font-size: 1rem;
      text-align: center;
      line-height: 40px;
      letter-spacing: 1px;
      text-transform: capitalize; }
    .banner__caja--font2 {
      font-size: 2rem;
      color: #3E3E3E;
      text-align: center;
      font-style: bold;
      text-transform: capitalize; }

.footer {
  text-align: justify;
  text-transform: none;
  list-style-type: none;
  line-height: 20px;
  text-decoration: none;
  word-spacing: 5px;
  list-style-position: inside;
  background-color: #f3f3f3;
  font-family: 'Cormorant Garamond', serif;
  margin-top: 100px; }
  .footer__flexHorizontal {
    display: flex;
    flex-direction: row; }
    .footer__flexHorizontal__flexVertical {
      display: flex;
      margin-left: 20px;
      flex-direction: column; }
      .footer__flexHorizontal__flexVertical__titulo {
        justify-content: flex-start;
        font-family: "Cormorant Garamond", serif;
        font-size: 20px;
        text-decoration: underline;
        line-height: 40px;
        letter-spacing: 1px;
        text-transform: capitalize; }

.centerImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem; }
  .centerImage__zoom {
    transition: transform .2s; }
    .centerImage__zoom:hover {
      transform: scale(1.2); }

.table {
  font-family: "Cormorant Garamond", serif;
  font-size: 1rem; }

.Lato {
  font-family: "Lato", serif;
  font-size: 1rem;
  text-decoration: none !important;
  line-height: 20px;
  letter-spacing: 0,5px; }
  .Lato__footer {
    color: white; }

.LatoTitle {
  font-family: "Lato", serif;
  font-size: 1.5rem;
  text-decoration: initial;
  font-weight: semibold;
  line-height: 20px;
  letter-spacing: 0,5px; }

.Cormorant {
  margin: 10px;
  color: #707070;
  font-weight: 100;
  font-size: 1,5rem;
  font-family: 'Cormorant Garamond', serif;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: none; }

.CormorantTitle {
  margin: 10px;
  color: #707070;
  font-weight: 100;
  font-size: 1,5rem;
  font-family: 'Cormorant Garamond', serif;
  color: black;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: none; }

.cards img {
  box-shadow: 3px 3px 8px 0px rgba(1, 0, 1, 0.3); }

.cards__imagenthumb {
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  opacity: 1; }
  .cards__imagenthumb:hover .cards__imagenthumb__overlay {
    opacity: 1; }
  .cards__imagenthumb__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(1, 0, 1, 0.3); }
    .cards__imagenthumb__overlay__text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center; }

.carousel-item {
  overflow: hidden;
  position: relative;
  height: 32em; }

.carousel-caption {
  background: rgba(101, 97, 97, 0.5); }

.item img {
  width: 100%;
  height: 100% !important;
  object-fit: cover; }

.hover1:hover {
  color: #aaa !important;
  text-decoration: underline; }

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit; }
