.banner { 
	background-image: linear-gradient($color), url(../assets/img/galeriasala3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 1000px;
	color: white;
	text-align: center;
	display: grid;
	/*2 columnas*/
	grid-template-columns: 2fr 8fr 2fr;
	align-items: center;
	&__caja {
		background-color: $colorCaja;
		margin-left: 30px;
		h2 {
			color: white;
		}
		p {
			color: white;
		}
		&--font1 {
			margin: 10px;
			color: #707070;
			font-weight: 100;
			@include fonts ('Cormorant Garamond', serif, 1rem);
			text-align: center;
			line-height: 40px;
			letter-spacing: 1px;
			text-transform: capitalize;
		}
		&--font2 {
			font-size: 2rem;
			color: #3E3E3E;
			text-align: center;
			font-style: bold;
			text-transform: capitalize;
		}
	}
 }

