

.menu {
	list-style-type: none;
	background-color: #f3f3f3;
	font-size: 0;
	display: flex;
	justify-content: flex-end;
	padding: 20px;
	&__element {
		display: inline-block;
		width: 10%;
		@include fonts ('Cormorant Garamond', serif, 20px);
		position: relative;
		text-align: center;
		&:hover > ul {
			display: block;
		}
		&__subElement {
			display: none;
			width: 70%;
			li {
				list-style-type:none;
				font-weight: normal;
			}
		}
		&--active {
			@extend .menu__element;
			font-weight: bold;
		}
		ul {
			display: none;
			position: absolute;	
		}
		a {
			text-decoration: none;
			color: black;
			text-align: center;
			&:hover {
				background-color: #a39d9d;
				display: block;
			}
		}
	}
}

header {
	background-color: #f3f3f3;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
}

.logo {
	float: left;
	box-sizing: border-box;
	height: 70px;
	width: 100px;
	padding: 10px;
	display: inline-block;

}